.domain_container {
    padding: 20px;
    border: 2px solid var(--primary-dark);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.domain_container:hover,
.domain_selected {
    background-color: var(--secondary-dark);
    box-shadow: 0 0 5rem var(--secondary-dark);
    color: var(--primary-light);
}

.domain_name {
    text-align: center;
    font-size: 22px;
    color: inherit;
}

@media all and (max-width: 768px) {
    .domain_name {
        font-size: 18px;
    }
}

@media all and (max-width: 600px) {
    .domain_name {
        font-size: 14px;
    }
}