.footer {
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 5rem;
}

.footer .last_updated {
    display: flex;
    justify-content: center;
    font-size: larger;
    text-align: center;
    margin: 1rem 0;
}

@media (max-width: 768px) {
    .footer .last_updated {
        margin-bottom: 100px;
    }
}
