.profile_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
}

.profile_container>img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

.profile_container>.profile_infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 2rem;
}

.profile_container>.profile_infos>h3 {
    font-size: xx-large;
    margin-bottom: 0;
}

.profile_container>.profile_infos>.profile_speciality {
    font-size: larger;
    color: var(--tertiary-dark);
}

.profile_description {
    text-align: center;
    font-size: x-large;
    font-style: italic;
    margin: 5rem 0;
}

@media all and (max-width: 768px) {
    .profile_container>img {
        width: 8rem;
        height: 8rem;
    }

    .profile_container>.profile_infos {
        margin: 0 1.5rem;
    }

    .profile_container>.profile_infos>h3 {
        font-size: x-large;
    }

    .profile_container>.profile_infos>.profile_speciality {
        font-size: large;
    }

    .profile_description {
        font-size: larger;
    }
}

@media all and (max-width: 600px) {
    .profile_container>img {
        width: 6rem;
        height: 6rem;
    }

    .profile_container>.profile_infos {
        margin: 0 1rem;
    }

    .profile_container>.profile_infos>h3 {
        font-size: larger;
    }

    .profile_container>.profile_infos>.profile_speciality {
        font-size: medium;
    }

    .profile_description {
        font-size: large;
    }
}