.projects_container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding: 0 1rem;
    gap: 2rem;
}

.projects_container > * {
    margin-bottom: 1rem;
}

.projects_container > :first-child {
    grid-column: 1 / -1;
}

@media (max-width: 600px) {
    .projects_container {
        grid-template-columns: 1fr;
    }

    .projects_container > :first-child {
        grid-column: auto;
    }
}
