.project {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 1rem;
    align-items: center;
    border: 1px solid var(--tertiary-dark);
    border-radius: 1rem;
    background-color: color-mix(
        in srgb,
        var(--background-dark) 50%,
        transparent
    );
}

.project:hover {
    background-color: var(--secondary-dark);
    box-shadow: 0 0 2rem var(--secondary-dark);
    color: var(--primary-light);
}

.project_image {
    height: 100px;
    width: 100px;
}

.project_info {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
}

.project_name {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.project:hover .project_name {
    color: var(--primary-light);
}

.project_description {
    font-size: 1rem;
    color: var(--secondary-dark);
    text-align: justify;
    width: 100%;
}

.project:hover .project_description {
    color: var(--secondary-light);
}

@media all and (max-width: 768px) {
    .project {
        padding: 0.75rem;
    }

    .project_image {
        height: 75px;
        width: 75px;
    }

    .project_name {
        font-size: 1.5rem;
    }
}

@media all and (max-width: 600px) {
    .project {
        padding: 0.5rem;
    }

    .project_image {
        height: 50px;
        width: 50px;
    }

    .project_name {
        font-size: 1.25rem;
    }
}
